.app-nav {
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    height: 4em;
    font-weight: 400;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 17px;
}

.app-header {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    background-color: #d3d3d3;
    text-decoration: none;
    height: 0;
    z-index: 10;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,cantarell,helvetica neue,ubuntu,sans-serif;
}

.nav_colored {
    background: #232a34;
}

.app-button {
    background: #05a081;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px 10px 20px
}

.navigation {
    padding: 10px;
    width: 300px;
    float: right;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.logo-text {
    font-size: 19px;
    line-height: 1;
    font-weight: 600;
    padding-left: 15px;
}

.logo-image {
    border-radius: 10px;
}

.app-nav a {
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;
    color: #fff;
    font-weight: 400;
    display: inline-flex;
    font-size: 17px;
}

.second-nav {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 8%);
    display: block;
    text-align: center;
    overflow-x: auto;
    white-space: nowrap;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,cantarell,helvetica neue,ubuntu,sans-serif;
    color: #1a1a1a;
    font-size: 14px;
}

.second-nav .tab {
    font-size: 17px;
    line-height: 26px;
    font-weight: 600;
    margin-top: 0;
    letter-spacing: .4px;
    margin-bottom: 0;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 1.25rem;
    color: #5e5e5e;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    transition: .2s color ease;
}

.active-tab {
    color: #0064f9 !important;
}

.active-tab:after {
    opacity: 1;
    height: .22rem;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: .2s opacity ease;
    transition: .2s opacity ease;
    background: #0064f9;
}