.collection-row {
    margin-top: 4rem;
}

.centered-grid {
    display: grid;
    grid-template-columns: 1fr 1200px 1fr;
    grid-gap: 1rem;
}

.centered-grid:before, :after {
    content: "";
}

.collection-names {
    display: block;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
    list-style: none;
    margin-top: 1.25rem;
    margin-bottom: .75rem;
    padding: 0;
    white-space: nowrap;
    color: #9e9e9e;
    text-transform: capitalize;
}

.collection-names li {
    display: inline;
}

.collection-names li a {
    transition: .15s all ease;
    display: inline-block;
    padding: .8rem 1.25rem;
    border: 1px solid #e8e8e8;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    border-radius: 6px;
    margin-right: .25rem;
    cursor: pointer;
    text-decoration: none;
    color: #9e9e9e;
}

.collection-names li a:hover {
    background-color: #e8e8e8;
}

.collection-row h3 {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    margin-top: 0;
    letter-spacing: -1px;
    margin-bottom: 0;
}

.collections-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    margin-left: -.5rem;
    margin-right: -.5rem;
}

.collection-card {
    padding: .5rem;
    transition: .15s all ease;
    display: block;
    width: 100%;
    padding-bottom: 1rem;
    border-radius: 14px;
    background: #fff;
    text-decoration: none;
    min-height: 150px;
}

.collection-card:hover {
    background: #e8e8e8;
}

.main-image {
    position: relative;
    text-align: -webkit-center;
    padding: 0 !important;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: .15rem;
}

.collection-card img {
    min-width: 100%;
    min-height: 100%;
    margin: -3px !important;
}

.sub-images {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: .15rem;
    border-radius: 10px;
    overflow: hidden;
}

.sub-images__image {
    position: relative;
    margin-bottom: -3px !important;
}

.sub-images__image:last-child {
    margin-right: -3px !important;
}

.collection-theme {
    display: block;
    font-size: 26px;
    line-height: 1.2;
    font-weight: 800;
    margin-top: 0;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 1rem;
}