.app-search {
    width: 45%;
}

.app-search__input {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    background-color: white;
    font-weight: 300;
    font-size: 17px;
    height: 40px;
    border: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    line-height: 22px;
    -webkit-box-flex: 1;
    flex: 1;
    color: #1a1a1a;
    z-index: 1;
}

.app-search__input--open {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04), 0 4px 16px 0 rgba(44, 50, 65, 0.08);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.app-search__input:focus {
    outline: none !important;
}

.app-search__button {
    padding-top: 4px;
    padding-bottom: 3px;
    border: none;
    height: 50px;
    width: 53px;
    background-color: white;
    border-left: solid 0 white;
    border-top-right-radius: 5px;
    z-index: 20;
    border-bottom-right-radius: 5px;
}

.app-search__themes {
    background-color: white;
    position: absolute;
    color: #1A1A1A;
    text-align: left !important;
    padding: 20px 15px;
    border-bottom: 1px solid #e8e8e8;
    box-shadow: 0 16px 22px -10px rgba(0, 0, 0, 0.15), 0 34px 55px 4px rgba(0, 0, 0, 0.08), 0 13px 66px 12px rgba(0, 0, 0, 0.07);
}